.btn-primary {
  background-color: transparent !important;
  color: var(--bs-body-color) !important;
  border: 1px solid var(--bs-body-color) !important;
  padding: 0.8rem 1.5rem;
  font-size: 1.25rem;
  font-family: Poppins-medium, sans-serif;
  text-transform: uppercase;
  transition: all 0.3s;
  min-width: 200px;

  &:hover {
    background-color: var(--bs-body-color) !important;
    border-color: var(--bs-body-color) !important;
    color: var(--bs-body-bg) !important;
  }
}

.full-width-button {
  width: 100% !important;
  margin-top: 10px !important;
}

.transparent-button {
  background-color: transparent;
  border: none;
  color: var(--bs-body-color);
  cursor: pointer;
  font-size: var(--text-size-300);
  padding: 0;
}
