.dropdown {
  position: relative;

  .dropdown-drawer-container {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
  }

  .dropdown-menu {
    background-color: var(--background) !important;
    border-width: 1px !important;
    border-style: solid !important;
    border-color: var(--primary-text) !important;
    border-top: none !important;
    border-radius: 0 !important;
    font-size: 1rem;
    color: var(--primary-text) !important;
    transition: transform 0.3s ease-in-out;
    margin: -1px 0 0;
    padding: 0;
    transform: translateY(calc(-100% - 1px));
    display: block;
    position: relative;
    visibility: hidden;

    &.show {
      transform: translateY(0);
      visibility: visible;
    }

    .dropdown-item {
      color: var(--primary-text) !important;

      &:hover {
        background-color: var(--primary-text) !important;
        color: var(--background) !important;
      }

      &:active {
        background-color: var(--bs-secondary-bg) !important;
        color: var(--primary-text) !important;
      }
    }
  }
}

.dropdown-secondary {
  width: 200px;

  .dropdown-menu {
    margin-top: 0.5rem;
  }
}
