@import 'variables';

:root {
  --background: #{$light-background};
  --secondary-bg: #{$light-secondary-bg};
  --primary-text: #{$light-primary-text};
  --secondary-text: #{$light-secondary-text};
  --accent: #{$light-accent};
  --attention: #{$light-attention};
}

[data-bs-theme='dark'] {
  --background: #{$dark-background};
  --secondary-bg: #{$dark-secondary-bg};
  --primary-text: #{$dark-primary-text};
  --secondary-text: #{$dark-secondary-text};
  --accent: #{$dark-accent};
  --attention: #{$dark-attention};
}

html {
  font-size: 100%;
}

body {
  --text-size-80: 0.694rem;
  --text-size-90: 0.833rem;
  --text-size-100: 1rem;
  --text-size-200: 1.2rem;
  --text-size-300: 1.44rem;
  --text-size-400: 1.728rem;
  --text-size-500: 2.074rem;
  --text-size-600: 2.488rem;
  --text-size-700: 2.986rem;

  font-family: Montserrat, sans-serif;
  font-weight: 400;
  line-height: 1.6;
}

// Utility Classes
.square {
  border-radius: 0;
}

.cursor-pointer {
  cursor: pointer;
}

.hover-scale:hover {
  transition: all ease 0.1s;
  transform: scale(1.05);
  cursor: pointer;
}

.hover-underline:hover {
  text-decoration: underline;
  cursor: pointer;
}

// # Theme Classes
// Borders
.border-05 {
  border-width: 1px !important;
}

.border-primary {
  border-color: var(--primary-text) !important;
}

.border-secondary {
  border-color: var(--secondary-text) !important;
}

.border-accent {
  border-color: var(--accent) !important;
}

.border-attention {
  border-color: var(--attention) !important;
}

.border-bottom-thick {
  border-bottom-width: 30px !important;
}

/* Backgrounds */
.bg-main {
  background-color: var(--background) !important;
}

.bg-secondary {
  background-color: var(--secondary-bg) !important;
}

.bg-accent {
  background-color: var(--accent) !important;
}

.bg-attention {
  background-color: var(--attention) !important;
}

/* Text Colors */
.text-primary {
  color: var(--primary-text) !important;
}

.text-secondary,
.text-secondary-hover {
  color: var(--secondary-text) !important;
}

.text-secondary-hover:hover {
  color: #333;
}

.accent,
.text-accent {
  color: var(--accent) !important;
}

.attention,
.text-attention {
  color: var(--attention) !important;
}

span.discount-slash {
  color: var(--attention) !important;
  text-decoration: line-through;
}

.section-header {
  font-weight: 400;
  margin-top: 4rem;
  margin-bottom: 3rem;
}

.section {
  margin-top: 1rem;
  padding: 6rem 1.2rem;
}

.no-outline {
  outline: none;
  box-shadow: none;
}

.faded-icon {
  opacity: 0.7;
}
