// light theme
$light-background: #fff;
$light-secondary-bg: #f2eded;
$light-primary-text: #222;
$light-secondary-text: #666;
$light-accent: #596b80;
$light-attention: #ab1b38;

// Dark theme colors
$dark-background: #000;
$dark-secondary-bg: #1f1f1f;
$dark-primary-text: #fff;
$dark-secondary-text: #a8aaaf;
$dark-accent: #7e90a5;
$dark-attention: #c50d32;
